class Backfill<%= class_name.pluralize %>Recordings < ActiveRecord::Migration<%= migration_version %>
  def up
    <%= class_name %>.reset_column_information

    say_with_time "Creating a Recording for every existing <%= file_name %>" do
      count = 0

      <%= class_name %>.find_each do |<%= file_name %>|
        Recording.record(
          <%= file_name %>,
          actor: <%= file_name %>.<%= creator_expression %>,
<% if account_expression != "nil" -%>
          account: <%= file_name %>.<%= account_expression %>,
<% end -%>
          created_at: <%= file_name %>.created_at
        )
        count += 1
      end

      "#{count} <%= table_name %>"
    end
  end

  def down
    Recording.where(recordable_type: "<%= class_name %>").find_each do |recording|
      recording.events.delete_all
      recording.delete
    end
  end
end
