class CreateRecordablesTables < ActiveRecord::Migration<%= migration_version %>
  def change
<% if buckets? -%>
    create_table :buckets do |t|
      t.references :bucketable, polymorphic: true, null: false, index: false
      t.timestamps

      t.index [:bucketable_type, :bucketable_id], unique: true
    end

<% end -%>
    create_table :recordings do |t|
<% if buckets? -%>
      t.references :bucket, null: false, foreign_key: true
<% end -%>
      t.references :parent, foreign_key: { to_table: :recordings }
      t.references :creator, foreign_key: { to_table: :<%= actor_table %>, on_delete: :nullify }
      t.references :recordable, polymorphic: true, null: false, index: false
      t.integer :position
      t.timestamps

      t.index [:recordable_type, :recordable_id]
<% if buckets? -%>
      t.index [:bucket_id, :recordable_type, :created_at]
<% end -%>
      t.index [:parent_id, :position]
    end

    create_table :events do |t|
      t.references :recording, foreign_key: { on_delete: :nullify }
      t.references :recordable, polymorphic: true, null: false, index: false
      t.references :actor, foreign_key: { to_table: :<%= actor_table %>, on_delete: :nullify }
      t.string :actor_name
      t.string :action, null: false
      t.json :details, null: false, default: {}
      t.datetime :created_at, null: false

      t.index [:recording_id, :created_at]
      t.index [:action, :created_at]
    end
  end
end
