class Create<%= class_name.pluralize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= table_name %> do |t|
<% attributes.each do |attribute| -%>
      t.<%= attribute.type %> :<%= attribute.name %>, null: false
<% end -%>
      t.datetime :created_at, null: false
    end
  end
end
